{% load static %}
<div class="article-product-grid">
{% for article in articles %}
{% if article.flag %}
<div class="article-div-prod">
	<a href="{% url 'seller_products' article.seller.id %}">
	{% if article.image %}
    <img class="article-div-img-top"
         src="{{ article.image.url }}"
         alt="{{ article.name }}">
{% else %}
    <img class="article-div-img-top"
         src="{% static 'images/default.jpg' %}"
         alt="No image">
{% endif %}
    </a> 
	<div class="article-div-prod-body">
		<h5 class="article-h5-prod-name">{{ article.name }}</h5>
		<p class="article-p-prod">{{ article.description }}</p>		
{% if article.seller.website %}
<p>
    <strong>Website:</strong>
    <a href="{{ article.seller.website }}" target="_blank">
        {{ article.seller.website }}
    </a>
</p>
{% endif %}
	</div>
	
</div>
{% endif %}
{% endfor %}
</div>
