{% extends "index.html" %}
{% block content %}
    <section>
        <div>
            Welcome to Jaipur Gems and Art, your premier destination for exquisite gemstones and traditional Rajasthani art. Based in Jaipur, we specialize in curating unique pieces that reflect the rich cultural heritage of India. Our passion is to share the beauty and craftsmanship of our region with the world.
        </div>
        <div class="div-contact">
            <p>Rajendra Bansal<br>Mobile: 9414053723</p>                    
            <p>Shalendra Bansal<br>Mobile: 9414053723</p>            
        </div>
    </section>
{% endblock %}
