<nav role="navigation" aria-label="Main navigation">
  <div class="nav-left">
    <a href="{% url 'homepage' %}">Home</a>

    <div class="nav-drop">
      <a href="{% url 'product_all' %}" aria-haspopup="true" aria-expanded="false">Products</a>
      <ul class="nav-cat-ul">
        {% for category in categories %}
          <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <a href="{% url 'contact' %}">Contact</a>
  </div>

  <div class="nav-right">
    {% if user.is_authenticated %}
      <span>Hi! {{ user.username }}!</span>
      {% if user.is_staff %}
          <a href="{% url 'admin:index' %}">Admin Panel</a>
      {% endif %}    
      <a href="{% url 'cart_detail' %}" class="nav-cart-link">
        <i class="fas fa-cart-shopping"></i> <!-- &#x1F6D2; unicode for cart emoji or via windoskey and . -->
        <span id="cart-count">{{ cart_item_count }}</span></a>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="nav-logout-btn">Log Out</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</nav>
